#pragma once

#define WIFI_SSID     "YourSSID"
#define WIFI_PASSWORD "YourPassword"

#define MQTT_BROKER   "mqtt.example.com"
#define MQTT_PORT     1883
#define MQTT_USER     "your_mqtt_user"
#define MQTT_PASS     "your_mqtt_password"
